<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctv.project.noah.demo.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.cctv.project.noah.demo.entity.Student">
    <id column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_age" jdbcType="VARCHAR" property="studentAge" />
    <result column="student_state" jdbcType="CHAR" property="studentState" />
    <result column="student_sex" jdbcType="CHAR" property="studentSex" />
    <result column="class_id" jdbcType="BIGINT" property="classId" />
    <result column="admission_time" jdbcType="TIMESTAMP" property="admissionTime" />
    <result column="graduation_time" jdbcType="TIMESTAMP" property="graduationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    student_id, student_name, student_age, student_state, student_sex, class_id, admission_time,
    graduation_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from demo_student
    where student_id = #{studentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from demo_student
    where student_id = #{studentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cctv.project.noah.demo.entity.Student">
    insert into demo_student (student_id, student_name, student_age, 
      student_state, student_sex, class_id, 
      admission_time, graduation_time)
    values (#{studentId,jdbcType=BIGINT}, #{studentName,jdbcType=VARCHAR}, #{studentAge,jdbcType=VARCHAR}, 
      #{studentState,jdbcType=CHAR}, #{studentSex,jdbcType=CHAR}, #{classId,jdbcType=BIGINT}, 
      #{admissionTime,jdbcType=TIMESTAMP}, #{graduationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cctv.project.noah.demo.entity.Student">
    insert into demo_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="studentAge != null">
        student_age,
      </if>
      <if test="studentState != null">
        student_state,
      </if>
      <if test="studentSex != null">
        student_sex,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="admissionTime != null">
        admission_time,
      </if>
      <if test="graduationTime != null">
        graduation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=BIGINT},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentAge != null">
        #{studentAge,jdbcType=VARCHAR},
      </if>
      <if test="studentState != null">
        #{studentState,jdbcType=CHAR},
      </if>
      <if test="studentSex != null">
        #{studentSex,jdbcType=CHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="admissionTime != null">
        #{admissionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduationTime != null">
        #{graduationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cctv.project.noah.demo.entity.Student">
    update demo_student
    <set>
      <if test="studentName != null">
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentAge != null">
        student_age = #{studentAge,jdbcType=VARCHAR},
      </if>
      <if test="studentState != null">
        student_state = #{studentState,jdbcType=CHAR},
      </if>
      <if test="studentSex != null">
        student_sex = #{studentSex,jdbcType=CHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=BIGINT},
      </if>
      <if test="admissionTime != null">
        admission_time = #{admissionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduationTime != null">
        graduation_time = #{graduationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cctv.project.noah.demo.entity.Student">
    update demo_student
    set student_name = #{studentName,jdbcType=VARCHAR},
      student_age = #{studentAge,jdbcType=VARCHAR},
      student_state = #{studentState,jdbcType=CHAR},
      student_sex = #{studentSex,jdbcType=CHAR},
      class_id = #{classId,jdbcType=BIGINT},
      admission_time = #{admissionTime,jdbcType=TIMESTAMP},
      graduation_time = #{graduationTime,jdbcType=TIMESTAMP}
    where student_id = #{studentId,jdbcType=BIGINT}
  </update>

  <select id="selectStudent" resultMap="BaseResultMap" parameterType="com.cctv.project.noah.demo.entity.Student">
    select
    <include refid="Base_Column_List" />
    from demo_student
    <where>
      <if test="studentName != null and studentName != ''">
        AND student_name = #{studentName,jdbcType=VARCHAR}
      </if>
      <if test="studentAge != null and studentAge != ''">
        AND student_age = #{studentAge,jdbcType=VARCHAR}
      </if>
      <if test="studentState != null and studentState != ''">
        AND student_state = #{studentState,jdbcType=CHAR}
      </if>
      <if test="studentSex != null and studentSex != ''">
        AND student_sex = #{studentSex,jdbcType=CHAR}
      </if>
      <if test="classId != null and classId != ''">
        AND class_id = #{classId,jdbcType=BIGINT}
      </if>
      <if test="admissionTime != null and admissionTime != ''">
        AND admission_time = #{admissionTime,jdbcType=TIMESTAMP}
      </if>
      <if test="graduationTime != null and graduationTime != ''">
        AND graduation_time = #{graduationTime,jdbcType=TIMESTAMP}
      </if>
      <if test="studentId != null and studentId != ''">
        AND student_id = #{studentId,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="checkStudentNameUnique" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from demo_student where student_name = #{studentName}
  </select>


  <delete id="deleteUserIds" parameterType="java.lang.Long">
    delete from demo_student
    where student_id in
    <foreach collection="array" item="studentId" open="(" separator="," close=")">
      #{studentId}
    </foreach>
  </delete>
</mapper>