<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生管理')" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
    <!-- 主体内容开始 -->
    <div class="container-div">
        <!-- 第一行 -->
        <div class="row">
            <!-- clo-sm-12 为占用12个栅栏 一行为12个栅栏 search-collapse可折叠样式 -->
            <div class="col-sm-12 search-collapse">
                <form id="student-form">
                    <!-- 表单开始 -->
                    <div class="select-list">
                        <ul>
                            <li>
                                <div>
                                    学生姓名：<input type="text" name="studentName" id="studentName" autocomplete="off"/>
                                </div>

                            </li>
                            <li>
                                学生班级：<select class="selectpicker" name="classId" th:with="type=${@studentService.getAllClass()}" data-live-search="true">
                                    <option value="">所有</option>
                                    <option th:each="classes : ${type}" th:text="${classes.className}" th:value="${classes.classId}"></option>
                                </select>
                            </li>
                            <li>
                                学生状态：<select name="studentState" th:with="state=${@dict.getType('student_state')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${state}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                学生性别：<select name="studentSex" th:with="type=${@dict.getType('sys_user_sex')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 表单结束 -->
                </form>
            </div>
            <!-- table开始 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" >
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
            <!-- table结束 -->
        </div>
    </div>
    <!-- 主体内容结束 -->
<th:block th:include="include :: footer" />
<th:block th:include="include :: typeahead-js" />
<th:block th:include="include :: bootstrap-select-js" />
<script th:inline="javascript">
    var datas = [[${@dict.getType('student_state')}]];

    var sex = [[${@dict.getType('sys_user_sex')}]];

    var classes=[[${@studentService.getAllClass()}]];

    $(function(){

        queryUserList();

        $('#studentName').typeahead({
            source: ["item 1","item 2","item 3","item 4","item 5","item 6","item 7","item 8","item 9","itdwa7","idwatem 7","it1em 7","itemd 7","itemaa 7","itexm 7","iqtem 7","item 7","itemw 7","itexm 7","fitem 7"],
        });
    });

    function queryUserList() {

        var prefix = ctx + "demo/student";

        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "admissionTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'studentId',
                    title: '学生编号'
                },
                {
                    field: 'studentName',
                    title: '学生姓名',
                },
                {
                    field: 'studentAge',
                    title: '学生年龄'
                },
                {
                    field: 'studentState',
                    title: '学生状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'studentSex',
                    title: '学生性别',
                    formatter:function(value,row,index){
                        for(var i=0;i<sex.length;i++){
                            if(sex[i].dictValue==value){
                                return "<span class='badge "+sex[i].cssClass+"'>"+sex[i].dictLabel+"</span>";
                            }
                        }
                    }
                },
                {
                    field: 'classId',
                    title: '班级',
                    formatter:function(value,row,index){
                        for(var i=0;i<classes.length;i++){
                            if(classes[i].classId==value){
                                return classes[i].className;
                            }
                        }
                    }
                },
                {
                    field: 'admissionTime',
                    title: '入学日期',
                    sortable: true,
                },
                {
                    field: 'graduationTime',
                    title: '毕业日期',
                    sortable: true,
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.studentId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.studentId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }


</script>
</body>
</html>