<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生管理')" />
</head>
<body class="gray-bg">
    <!-- 主体内容开始 -->
    <div class="container-div">
        <!-- 第一行 -->
        <div class="row">
            <!-- clo-sm-12 为占用12个栅栏 一行为12个栅栏 search-collapse可折叠样式 -->
            <div class="col-sm-12 search-collapse">
                <form name="myForm" method="post" id="myForm">
                    <!-- 表单开始 -->
                    <div class="select-list">
                        <ul>
                            <li>
                                学生姓名：<input type="text" name="studentName"/>
                            </li>
                            <li>
                                学生班级：<select name="classId" th:with="type=${@studentService.getAllClass()}">
                                <option value="">所有</option>
                                <option th:each="classes : ${type}" th:text="${classes.className}" th:value="${classes.classId}"></option>
                            </select>
                            </li>
                            <li>
                                学生状态：<select name="studentState" th:with="state=${@dict.getType('student_state')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${state}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                学生性别：<select name="studentSex" th:with="type=${@dict.getType('sys_user_sex')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="document.myForm.submit()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 表单结束 -->
                    <input type="hidden" name="orderByColumn" id="orderByColumn">
                    <input type="hidden" name="isAsc" id="isAsc">
                </form>
            </div>
            <!-- table开始 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="add()">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="edit()" >
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="removeAll()" >
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"
                       data-toggle="table"
                       data-show-columns-toggle-all="true"
                       data-silent-sort="server"
                       data-mobile-responsive="true"
                       data-toolbar="#toolbar"
                       data-checkbox="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-refresh="true"
                       data-show-search="true"
                       data-total-rows="20" style="display: none">
                    <thead>
                        <tr>
                            <th data-checkbox="true"></th>
                            <th>学生编号</th>
                            <th>学生姓名</th>
                            <th>学生年龄</th>
                            <th>学生状态</th>
                            <th>学生性别</th>
                            <th>班级</th>
                            <th data-sortable="true" data-sort-name="admissionTime"
                                th:attr="data-order=${pageDomain.isAsc}">入学日期</th>
                            <th>毕业日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tr th:each="student:${list}"
                        th:with="state=${@dict.getType('student_state')},sex=${@dict.getType('sys_user_sex')}">
                        <td></td>
                        <td th:text="${student.studentId}"></td>
                        <td th:text="${student.studentName}"></td>
                        <td th:text="${student.studentAge}"></td>
                        <td th:each="dict : ${state}" th:if="${dict.dictValue==student.studentState}" th:text="${dict.dictLabel}"></td>
                        <td th:each="dict : ${sex}" th:if="${dict.dictValue==student.studentSex}" th:text="${dict.dictLabel}"></td>
<!--                        <td th:text="${student.studentSex}"></td>-->
                        <td th:text="${student.classId}"></td>
                        <td th:text="${#dates.format(student.admissionTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(student.graduationTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <a class="btn btn-success btn-xs" href="javascript:void(0)" th:onclick="editId([[${student.studentId}]]);"><i class="fa fa-edit"></i>编辑</a>
                            <a class="btn btn-danger btn-xs" href="javascript:void(0)" th:onclick="remove([[${student.studentId}]]);" onclick="remove()"><i class="fa fa-remove"></i>删除</a>
                        </td>
                    </tr>
                </table>
                <th:block th:include="page :: page" />
                <div class="clearfix"></div>
            </div>
            <!-- table结束 -->
        </div>
    </div>
    <!-- 主体内容结束 -->
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    $(function(){
        $.btTable = $('#bootstrap-table');
        $.btTable.on("check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table load-success.bs.table", function () {
            // 工具栏按钮控制
            //var rows = $.common.isEmpty("menuId") ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
            var rows = $.btTable.bootstrapTable('getSelections', function (row) {
                return row;
            });
            // 非多个禁用
            $('#toolbar .multiple').toggleClass('disabled', !rows.length);
            // 非单个禁用
            $('#toolbar .single').toggleClass('disabled', rows.length!=1);
        });

        $.btTable.on("sort.bs.table",function(s,orderByColumn,isAsc){
            $("#orderByColumn").val(orderByColumn);
            $("#isAsc").val(isAsc);
            $("#myForm").submit();
        });
        $.btTable.on("refresh-options.bs.table refresh.bs.table",function(){
            $("#myForm").submit();
        });

        $("#bootstrap-table").show();
    });
    function add(){
        $.modal.open("添加学生",ctx+"demo/student/add");
    }
    function edit(){
        var rows = $.btTable.bootstrapTable('getSelections', function (row) {
            return row;
        });

        $.modal.open("修改学生",ctx+"demo/student/edit/"+rows[0][1]);
    }
    function editId(id){
        $.modal.open("修改学生",ctx+"demo/student/edit/"+id);
    }
    function removeAll(){
        var rows = $.btTable.bootstrapTable('getSelections', function (row) {
            return row;
        });
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
            var ids=new Array(rows.length);
            for(var i=0;i<rows.length;i++){
                ids[i]=rows[i][1];
            }
            var url = ctx+"demo/student/remove";
            var data = { "ids": ids.join() };
            $.operate.submit(url, "post", "json", data);
            window.location.reload();
        });
    }
    function remove(id){
        $.modal.confirm("确定删除该条用户信息吗？", function() {
            var url = ctx+"demo/student/remove";
            var data = { "ids": id };
            $.operate.submit(url, "post", "json", data);
            window.location.reload();
        });
    }

    function remo(){

    }


</script>
</body>
</html>